@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jaldi:wght@400;700&display=swap");

* {
  margin: 0;
}

.header div {
  display: flex;
  justify-content: center;
}

.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #343434;
  width: 1125px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.header a {
  text-decoration: none;
}

.header h3 {
  margin-top: 15px;
  color: white;
  font-family: "Jaldi", sans-serif;
  font-style: normal;
  font-size: 24px;
}

.home {
  margin-left: 80px;
  font-weight: 400;
}

#account_bg {
  margin-left: 60px;
  background-color: #e42024;
  width: 120px;
  height: 48px;
  margin-top: 10px;
  margin-right: -187px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.menu {
  margin-left: 90px;
  font-weight: 400;
}

.contact {
  margin-left: 90px;
  font-weight: 400;
}

.logo {
  height: 75px;
  width: auto;
  display: flex;
  align-items: center;
  margin-top: -5px;
  margin-left: -94px;
}

#logo_bg {
  background-color: black;
  height: 100px;
  width: 100px;
  display: flex;
  border-radius: 1000px;
  margin-left: 58px;
  margin-top: -18px;
  border: 3px solid #e42024;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.branches {
  margin-left: 69px;
  font-weight: 400;
}

.cart {
  margin-left: 90px;
  font-weight: 400;
}

.account {
  margin-left: 90px;
  font-weight: 700;
}

.sidebar {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #343434;
  width: 360px;
  height: 100vh;
  margin-top: 180px;
  border-top-right-radius: 40px;
  padding-top: 50px;
}

.sidebar .title {
  color: white;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  letter-spacing: 1px;
  margin-left: 50px;
}

.list h3 {
  color: white;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-left: 52px;
}

.list img {
  width: 360px;
  margin-top: 50px;
}

.list .profile {
  margin-top: -42px;
}

.list .history {
  margin-top: 25px;
}

.list .preference {
  margin-top: 25px;
}

.list .vouchers {
  margin-top: 25px;
}

.list .dashboard {
  margin-top: 25px;
}

.list .notification {
  margin-top: 25px;
}

.list a {
  text-decoration: none;
}

.information .title {
  color: black;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 46px;
  margin-top: -665px;
  margin-left: 450px;
}

.information .sub-title {
  color: black;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: 450px;
  margin-top: 25px;
}

.pp-title {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  margin-left: 450px;
  margin-top: 45px;
}



.profile-container {
  position: relative;
  width: 90px;
  height: 90px;
  margin-left: 710px;
  margin-top: -65px;
  border-radius: 1000px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.profile-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
}

#profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  margin: -28px 0px 0px 40px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-icon i {
  font-size: 18px;
}

.camera-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.new-pic {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #343434;
  margin-left: 110px;
  margin-top: -78px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
}

.remove {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e42024;
  margin-left: 110px;
  margin-top: -5px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
}

.information .hr1 {
  height: 2px;
  background-color: #e42024;
  width: 745px;
  border: none;
  margin-left: 450px;
  margin-top: 15px;
}

.information .name h3 {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #343434;
  margin-left: 449px;
  font-size: 18px;
  margin-top: 20px;
}

.information .name h2 {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #343434;
  margin-left: 700px;
  font-size: 18px;
  margin-top: -25px;
}

.down-arrow {
  width: 15px;
  height: auto;
  margin-bottom: -3px;
  margin-left: 5px;
}

.select-wrapper {
  position: absolute;
  left: 700px;     
  top: -1px;       
  top: 842px;
}

.contact-select {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #343434;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}
