@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jaldi:wght@400;700&display=swap");

* {
  margin: 0;
}

.header div {
  display: flex;
  justify-content: center;
}

.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #343434;
  width: 1125px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.header a {
  text-decoration: none;
}

.header h3 {
  margin-top: 15px;
  color: white;
  font-family: "Jaldi", sans-serif;
  font-style: normal;
  font-size: 24px;
}

.home {
  margin-left: 80px;
  font-weight: 400;
}

#account_bg {
  margin-left: 60px;
  background-color: #e42024;
  width: 120px;
  height: 48px;
  margin-top: 10px;
  margin-right: -187px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.menu {
  margin-left: 90px;
  font-weight: 400;
}

.contact {
  margin-left: 90px;
  font-weight: 400;
}

.logo {
  height: 75px;
  width: auto;
  display: flex;
  align-items: center;
  margin-top: -5px;
  margin-left: -94px;
}

#logo_bg {
  background-color: black;
  height: 100px;
  width: 100px;
  display: flex;
  border-radius: 1000px;
  margin-left: 58px;
  margin-top: -18px;
  border: 3px solid #e42024;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.branches {
  margin-left: 69px;
  font-weight: 400;
}

.cart {
  margin-left: 90px;
  font-weight: 400;
}

.account {
  margin-left: 90px;
  font-weight: 700;
}

.sidebar {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #343434;
  width: 360px;
  height: 100vh;
  margin-top: 180px;
  border-top-right-radius: 40px;
  padding-top: 50px;
}

.sidebar .title {
  color: white;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  letter-spacing: 1px;
  margin-left: 50px;
}

.list h3 {
  color: white;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-left: 52px;
}

.list img {
  width: 360px;
  margin-bottom: -305px;
}

.list .profile {
  margin-top: 45px;
}

.list .history {
  margin-top: 25px;
}

.list .preference {
  margin-top: 25px;
}

.list .vouchers {
  margin-top: 25px;
}

.list .dashboard {
  margin-top: 25px;
}

.list a {
  text-decoration: none;
}

.kotak {
  margin-left: 392px;
  margin-top: -715px;
  width: 800px;
  height: 712px;
  border: 1.5px solid black;
  border-top-left-radius: 30px;
}

.font1 {
  display: flex;
  justify-content: space-around;
  font-family: "Jaldi", sans-serif;
  color: #3e3e3e;
  font-size: 25px;
  padding-left: 20px;
  padding-top: 20px;
}

.font1 h3 {
  font-weight: 400;
}

.kotak1 {
  background-color: #2a2a2a;
  width: 180px;
  height: 105px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.kotak1 p {
  color: white;
  font-family: "Jaldi", sans-serif;
  font-size: 38px;
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-top: 20px;
  padding-left: 30px;
}

.row > div {
  display: flex;
  flex-direction: column;
}

.font {
  color: #2a2a2a;
  font-family: "Jaldi", sans-serif;
  font-size: 26px;
  font-weight: 700px;
  padding-left: 55px;
  margin-top: 40px;
}

.searchbar input {
  width: 520px;
  height: 50px;
  border: 1.5px solid black;
  border-radius: 10px;
  padding-left: 15px;
  margin-left: 55px;
}

.searchbar input::placeholder {
  font-size: 15px;
  color: #2a2a2a;
  font-family: "Jaldi", sans-serif;
  font-weight: 400px;
  opacity: 80%;
}

.searchbar button {
  margin-left: 12px;
  height: 55px;
  width: 135px;
  border-radius: 10px;
  background-color: #e42024;
  color: white;
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}

.box {
  background-color: #2a2a2a;
  width: 695px;
  height: 335px;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Jaldi", sans-serif;
  font-size: 22px;
  padding: 20px 20px 8px 20px;
}

.box .item .qty {
    font-weight: 400;
    font-size: 22px;
    margin-right: 10px;
}

.box .item2 .qty {
    font-weight: 400;
    font-size: 22px;
    margin-right: 10px;
}

.item2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Jaldi", sans-serif;
  font-size: 22px;
  padding: 8px 20px 8px 20px;
}

.line {
  width: 95%;
  height: 1.5px;
  background-color: white;
  border: none;
  margin: 0 auto 5px auto;
  opacity: 0.5;
}
