@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jaldi:wght@400;700&display=swap");

* {
  margin: 0;
}

.header div {
  display: flex;
  justify-content: center;
}

.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #343434;
  width: 1125px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.header a {
  text-decoration: none;
}

.header h3 {
  margin-top: 15px;
  color: white;
  font-family: "Jaldi", sans-serif;
  font-style: normal;
  font-size: 24px;
}

.home {
  margin-left: 80px;
  font-weight: 400;
}

#account_bg {
  margin-left: 60px;
  background-color: #e42024;
  width: 120px;
  height: 48px;
  margin-top: 10px;
  margin-right: -187px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.menu {
  margin-left: 90px;
  font-weight: 400;
}

.contact {
  margin-left: 90px;
  font-weight: 400;
}

.logo {
  height: 75px;
  width: auto;
  display: flex;
  align-items: center;
  margin-top: -5px;
  margin-left: -94px;
}

#logo_bg {
  background-color: black;
  height: 100px;
  width: 100px;
  display: flex;
  border-radius: 1000px;
  margin-left: 58px;
  margin-top: -18px;
  border: 3px solid #e42024;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.branches {
  margin-left: 69px;
  font-weight: 400;
}

.cart {
  margin-left: 90px;
  font-weight: 400;
}

.account {
  margin-left: 90px;
  font-weight: 700;
}

.sidebar {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #343434;
  width: 360px;
  min-height: 100%;
  height: auto;
  border-top-right-radius: 40px;
  padding-top: 50px;
  position: absolute;
  top: 180px;
  left: 0;
}

.sidebar .title {
  color: white;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  letter-spacing: 1px;
  margin-left: 50px;
}

.list h3 {
  color: white;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-left: 52px;
}

.list img {
  width: 360px;
  margin-bottom: -250px;
}

.list .profile {
  margin-top: 45px;
}

.list .history {
  margin-top: 25px;
}

.list .preference {
  margin-top: 25px;
}

.list .notification {
  margin-top: 25px;
}

.list .vouchers {
  margin-top: 25px;
}

.list .dashboard {
  margin-top: 25px;
}

.list a {
  text-decoration: none;
}

.days .contact-select {
  border: solid 1.5px black;
  border-radius: 12px;
  width: 170px;
  height: 50px;
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: black;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 30px;
  line-height: 50px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("/image/mingcute_down-fill.png");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 22px;
}

.days {
  margin: 180px 0px 0px 395px;
  position: relative;
  z-index: 10;
}

.mark img {
  width: 24px;
  margin-left: 1032px;
  padding-right: 2px;
  margin-bottom: -6px;
}

.mark h3 {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  margin-top: -46px;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.testimonies1 {
  height: 125px;
  width: 800px;
  margin-left: 395px;
  background-color: #2a2a2a;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.testimonies1 .title {
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 13px;
}

.testimonies1 .feedback {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  opacity: 85%;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  width: 730px;
  margin-left: 20px;
  margin-top: -2px;
}


.testimonies2 {
  height: 125px;
  width: 800px;
  margin-left: 395px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.testimonies2 .title {
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #1B1B1B;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 13px;
}

.testimonies2 .feedback {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1B1B1B;
  opacity: 85%;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  width: 730px;
  margin-left: 20px;
  margin-top: -2px;
}

.item.hidden {
  display: none !important;
}